
header{
    background: #81ecec;
    color: black;
    
}
.main{
    background:#ffeaa7;
}
.color1{
    background: #a29bfe;
    color: red;
}
aside{
    background: violet;
    color: #636e72 ;
}
footer{
    background:#ff7675;
    color: black ;
    

}